body {
    margin: 0px;
    font-family: 'Verdana', 'Yu Gothic UI';
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

header {
    background: orange;
    color: white;
    text-align: center;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: orange;
    color: white;
    text-align: right;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 0.6em;
}

main {
    width: 100%;
    padding-bottom: 50px;
}

ul {
    margin: 0 0;
}

#inputArea {
    padding: 5% 0;
}

#inputArea:focus{
    outline: none;
}

#filter {
    padding-bottom: 5%;   
    font-size: 1.5em;
}

#inputTask {
    font-size: 2.3em;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    padding: 0.2em 0.2em;/*ボタン内の余白*/
    border-radius: 5px;/*角の丸み*/
    width: 60%;
}

/*
  Reference: https://saruwakakun.com/html-css/reference/buttons#section5
*/
.raised {
    display: inline-block;
    background: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 2.5em;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    padding: 0.2em 0.5em;/*ボタン内の余白*/
    border-radius: 5px;/*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .1s ease-out;/*変化を緩やかに*/
    position: relative;
}

.raised:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 10px 20px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}

.raised:active{
    color: orange;
    background: #dddddd; 
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); 
    border-bottom: none;
}

.filterRadio {
    display: none;
}

.filterRadio-deco {
    position: relative;
}

.filterRadio-deco::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -1.5em;
    width: 1em;
    height: 1em;
    border: 0.2em solid #c5c5c5;
    border-radius: 50%;
}

.filterRadio:hover  + .filterRadio-deco::before {
    border: 0.2em orange solid;
}

.filterRadio:checked  + .filterRadio-deco::before {
    background-color: orange;
    border: 0.2em orange solid;
}

.filterRadio:checked  + .filterRadio-deco::after {
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    top: 0.4em;
    left: -1.1em;
    background: white;
    border-radius: 50%;
}

.explainList {
    display: table;
    table-layout: fixed;
    width: 80%;
    list-style: none;
    padding: 1em 0.5em;
    margin: 0 0;
    line-height: 1;
    vertical-align: middle;
    background: orange;
    color: white;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,0.12), -5px 0 5px 0 rgba(0,0,0,0.12);
}

.taskList {
    display: table;
    table-layout: fixed;
    width: 80%;
    height: 100%;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,0.12), -5px 0 5px 0 rgba(0,0,0,0.12);
    list-style: none;
    padding: 1em 0.5em;
    margin: 0 0;
}

.listBox {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.taskBox {
    width: 50%;
    font-size: 1.5em;
    padding: 0.2em;
    word-wrap:break-word;
    float: left;
    text-align: left;
}

.taskDateBox {
    width: 15%;
    font-size: 0.9em;
    padding: 0.2em;
    word-wrap:break-word;
    float: right;
    text-align: right;
    color: gray;
}


.listButton {
    width: auto;
    padding: 0.2em;
    font-size: 1.7em;
    float: right;
    font-weight: bold;
    text-align: center;
}

.listButton:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); 
    border-bottom: none;
}

.trush:hover {
    color: rgb(255, 11, 93);
    text-shadow: 0 5px 5px rgba(0,0,0,0.14);
}

.edit:hover {
    color: rgb(11, 157, 255);
    text-shadow: 0 5px 5px rgba(0,0,0,0.14);
}

.taskCheckBox {
    display: none;
    width: 100%;
    height: 100%;
}

.taskCheckBox-deco {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.taskCheckBox-deco::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 0.2em solid #c5c5c5;
    border-radius: 4px;
}

.taskCheckBox:hover  + .taskCheckBox-deco::before {
    border: 0.2em orange solid;
    box-shadow: 0 5px 5px rgba(0,0,0,0.14);
}

.taskCheckBox:checked  + .taskCheckBox-deco::before {
    background-color: orange;
    border: 0.2em orange solid;
}

.taskCheckBox:checked  + .taskCheckBox-deco::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 1em;
    position: absolute;
    top: 0em;
    left: 0.4em;
    transform: rotate(40deg);
    border-bottom: 0.2em solid white;
    border-right: 0.2em solid white;
}

.taskCheckBox:hover {
    border: 2px orange solid;
    box-shadow: 0 5px 5px rgba(0,0,0,0.14);
}
